.UserPage-container {
    border: 1px solid green;
    width: auto;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.UserPage-container .greeting {
    width: 100%;
    margin-right: 78%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.UserPage-container .bucketlist-container {
    border: 5px solid black;
    box-shadow: 10px 10px grey;
    width: 40%;
    height: auto;
    margin-bottom: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.UserPage-container .bucketlist-container .bucket-header {
    text-decoration: underline;
    margin-top: 3%;
    margin-bottom: 3%;
}

.UserPage-container .bucketlist-container .bucketlist {
    list-style-type: none;
    margin-right: 5%;
    font-style: italic;
    font-weight: bolder;
}

.UserPage-container .bucketlist-container .incomplete {
    text-decoration: none;
}

.UserPage-container .bucketlist-container .complete {
    text-decoration: line-through;
}

.UserPage-container .bucketlist-container form {
    margin: 5%;
}